<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.1" targetFramework="net462" />
  <package id="StackExchange.Redis.Extender" version="1.0.5" targetFramework="net462" />
  <package id="StackExchange.Redis.Extensions.Core" version="2.1.0" targetFramework="net462" />
  <package id="StackExchange.Redis.Extensions.Newtonsoft" version="2.1.0" targetFramework="net462" />
</packages>